body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: linear-gradient(#58ae75, #224959);
}



.flow-middle {
  position: absolute;
  top: 40%;
  left:48%;
}

.absolute-btn {
  float:left;
}

.ds-container {
  position: absolute;
  width: 500px !important;
  color: hsl(198, 1%, 29%);
  font-size: medium;
  font-family: 'Gochi Hand', cursive;
  line-height: 1.5;
  text-align: left;
  margin-left: 25px;
  margin-top: 120px;

}

.title{
  position: absolute;
  font: 900 50px/1 'Source Sans Pro', 
  Arial, sans-serif;
  text-transform: uppercase; color: green; 
  text-align: center; 
  letter-spacing: -3px; 
  text-align: left;
  margin-left: 20px;
  width: 100%;

  text-shadow:     0 1px 0 hsl(174,5%,80%),
	                 0 2px 0 hsl(174,5%,75%),
	                 0 3px 0 hsl(174,5%,70%),
	                 0 4px 0 hsl(174,5%,66%),
	                 0 5px 0 hsl(174,5%,64%),
	                 0 6px 0 hsl(174,5%,62%),
	                 0 7px 0 hsl(174,5%,61%),
	                 0 8px 0 hsl(174,5%,60%),
	
	                 0 0 5px rgba(0,0,0,.05),
	                0 1px 3px rgba(0,0,0,.2),
	                0 3px 5px rgba(0,0,0,.2),
	               0 5px 10px rgba(0,0,0,.2),
	              0 10px 10px rgba(0,0,0,.2),
	              0 20px 20px rgba(0,0,0,.3);
}
